<header>

  <!-- INSERTING NAV BAR -->
<div class = "navbar navbar-inverse navbar-static-top"

     <!-- ensures that everything following is centered and stays in the navbar -->
      <div class = "container">

        <a href = "#" class = "navbar-brand">#GetMyCodeOn</a> 

        <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>

        <!--Ensures that the header collapses on a small screen like a mobile, until you press a button (to come)-->

        <div class = "collapse navbar-collapse navHeaderCollapse">

        <!-- styles the navbar item and moves it to the right -->
          <ul class = "nav navbar-nav navbar-right">
 
              <!-- The class "active" works on most things that are buttons, indents them -->

              <li class = "active"><a href = "/index">Home</a></li>
              <li><a href = "/ourteam">Our Team</a></li>
             <li class = "dropdown">

            <a href = "/blog" class = "dropdown-toggle" data-toggle = "dropdown"> Blog <b class = "caret"></b> </a>
                <ul class = "dropdown-menu">
                  <li> <a href = "/blog">Blog</a></li>
                  <li> <a href = "/jackblog">Jack</a></li>
                  <li> <a href = "/oliviablog">Olivia</a></li>
                  <li> <a href = "/askeblog">Aske</a></li>
                  <li> <a href = "/nafisablog">Nafisa</a></li>
                </ul>
              <li ><a href = "/socialmedia">Social Media</a></li>

              <li ><a href = "/portfolio">Portfolio</a></li>

            </ul> 
        </div>
      </div>
    </div>

</header>
